html{
  scroll-behavior:smooth;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin:0;
  overflow:hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  padding: 0;
  scroll-behavior:smooth;
}
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: "Noto Sans", sans-serif;
}
